<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2016.
  ~ This file is part of SourceBot.
  ~
  ~ SourceBot is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ SourceBot is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with SourceBot.  If not, see <http://www.gnu.org/licenses/>.
  -->

<Configuration status="WARN">
    <Appenders>
        <Console name="SysOut" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level]: %msg%n"/>
        </Console>
        <RollingRandomAccessFile name="File" fileName="sourcebot-logs/latest.log" filePattern="sourcebot-logs/%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level]: %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Logger name="net.walterbarnes.sourcebot.bot" level="debug" additivity="false">
            <AppenderRef ref="SysOut"/>
            <AppenderRef ref="File"/>
        </Logger>
    </Loggers>
</Configuration>
